# SPDX-License-Identifier: GPL-2.0-only

config COMMON_CLK_LOONGSON2
	tristate "Clock drivers for Loongson2 SOCs"
	depends on LOONGSON_2K1000 || LOONGSON_2K500
    default LOONGSON_2K1000 || LOONGSON_2K500
	help
	  Supports clock drivers for Loongson2 SOCs.

choice
	bool "System clock mode Selection"
    depends on COMMON_CLK_LOONGSON2
    default LOONGSON2_SYSCLK_SOFT

	config LOONGSON2_SYSCLK_HW_LOWFREQ
		tristate "Hardware low frequency mode"
		help
		System clock select Hardware low frequency mode.

	config LOONGSON2_SYSCLK_HW_HIGFREQ
		tristate "Hardware hige frequency mode"
		help
		System clock select Hardware hige frequency mode.

	config LOONGSON2_SYSCLK_SOFT
		tristate "Soft mode"
		help
		System clock select Soft mode.
		
	config LOONGSON2_SYSCLK_HW_BYPASS
		tristate "Hardware bypass mode"
		help
		System clock select Hardware bypass mode.

endchoice
